/*Aspectos generales de los html*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

$verde-principal: #15D42C;
$azul-letras: #284EF5;
$naranja-enlaces: #F78119;
$verde-titulos: #15D4B9;
$ancho: 50px;

header {
    background-color: $verde-principal;
}

/*propiedades del navegador*/
nav {
    ul{ 
        text-align: center;  
        background-color: white;
        li {
            text-align: center;
            list-style: none;
            list-style-position: right;
            a {
                margin: 5px;
                padding: 0px 2px;
                text-align: center;
                color: $naranja-enlaces;
                text-decoration: none;
                text-align: center;
                font-family: 'Stint Ultra Condensed', cursive;
                font-size: 20px;
                height: 25px;
                width: $ancho*4;
            }
        }
    }
}

/*propiedades de los titulos y parrafos*/
/*mati hace clases para esto -consejo del tano-*/
.tituloPrincipal {
    color: $azul-letras;
    font-family: 'Viaoda Libre', cursive;
    font-size: 200%;
    text-align: center;
    text-decoration: solid;
}

.tituloSection {
    font-size: 36px;
    color: $verde-titulos;
}

h3 {
    color: $verde-titulos;
}

p {
    color: $azul-letras;
}

main {
    text-align: center;
    p {
        font-size: 28px;
    }
}


#realizacionCine {
    text-align: right;
}

.flexNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    flex-basis: 200px;
}

.flexSection {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.flexRealizacion {
    /*este flex lo uso solo en el section de realización cinematografica*/
    order: -1;
}
/*TRANSICIONES*/
.transTexto {
    height: 15vh;
    transition: all 5s;
}

main:hover {
    height: 20vh;
    background-image: linear-gradient($verde-principal,white);
    .cambioBlanco {
        color: white;
    }
}

.transNav {
    transition: 0s;
}

a:hover {
    color:white;
    background-image: radial-gradient($verde-principal, white);
}

/*Transformacion + animación */
section {
    margin: 20px;
    padding: 25px; 
}

.efectoImagen{
    animation-name: efectoImagen;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0s;
}

.efectoTexto{
    animation-name: efectoTexto;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-delay: 0s;
}

@keyframes efectoImagen {
    0% {
        transform: translateY(-22px);

    }
    25% {
        transform: translateY(-15px);

    }
    50% {
        transform: translateY(-10px);

    }
    75%{
        transform: translateY(-5px);

    }
    100% {
        transform: translateY(0px)
    }
}

@keyframes efectoTexto {
    0% {
        transform: translateX(-22px);

    }
    25% {
        transform: translateX(-15px);

    }
    50% {
        transform: translateX(-10px);

    }
    75%{
        transform: translateX(-5px);

    }
    100% {
        transform: translateX(0px)
    }
}

//BOCKS
.imagenAdaptable {
    max-width: 100%;
    height: auto;
    
    &__secciones {
        max-width: 50%;
        height: auto;
    }
}

.videoAdaptable {
    height: 100vh;
    width: 100%;
}

.subrayado {
    text-decoration: underline;
}

.parrafoGrande {
    font-size: 26px;
}

.textoDestacado {
    font-weight: bold; 
    font-style: italic;
    color: $verde-principal;
}

.negroDestacado {
    color: black;
    background-color: blanchedalmond;
}

.fondoPartitura {
    background-color: $verde-principal;
    background-repeat: repeat-x;
}

.tituloVideo {
    color: $verde-principal;
}

.spanEstilo {
    font-style: italic;
}

@for $i from 1 to 4 {
    .bloque#{$i} { width: 100% / $i; }
}
@each $instrumentos in guitarra, bajo, teclado, violin {
    .#{$instrumentos}-icon {
        background-image: url(../media/#{$instrumentos}.png)
    }
}
$colores: (
    principal: green,
    secundario: blue,
    terciario: red,
);
@each $name-color, $bgcolor in $colores {
    .btn--#{$name-color} {
        background-color: $bgcolor;
    }
}
@import "responsive";
